@model LojaJogos.Models.Jogo
@{ ViewBag.Title = "Cadastro de Jogos"; }

<h2>Cadastro de Jogos</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Dados do Jogo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Codigo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Codigo)
            @Html.ValidationMessageFor(model => model.Codigo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Versao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Versao)
            @Html.ValidationMessageFor(model => model.Versao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Desenvolvedor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Desenvolvedor)
            @Html.ValidationMessageFor(model => model.Desenvolvedor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Genero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Genero)
            @Html.ValidationMessageFor(model => model.Genero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FaixaEtaria)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FaixaEtaria)
            @Html.ValidationMessageFor(model => model.FaixaEtaria)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Plataforma)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Plataforma)
            @Html.ValidationMessageFor(model => model.Plataforma)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AnoLanc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AnoLanc)
            @Html.ValidationMessageFor(model => model.AnoLanc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sinopse)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sinopse)
            @Html.ValidationMessageFor(model => model.Sinopse)
        </div>
        <br/>
        <p><input class="btnCadastrar" type="submit" value="Cadastrar"/></p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
}