@model LojaJogos.Models.Jogo
@{ ViewBag.Title = "Resultado de Jogos"; }

<h2>Resultado de Jogos</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Resultado do Jogo</legend>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.Codigo):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Codigo)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.Nome):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Nome)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.Versao):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Versao)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.Desenvolvedor):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Desenvolvedor)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.Genero):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Genero)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.FaixaEtaria):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.FaixaEtaria)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.Plataforma):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Plataforma)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.AnoLanc):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.AnoLanc)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.Sinopse):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Sinopse)
        </div>
    </fieldset>
    <br />
}