@model IEnumerable<LojaJogos.Models.Cliente>

@{
    ViewBag.Title = "ListarCliente";
}

<h2>Listar Clientes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNasc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.ActionLink("Alterar", "AltCliente", null, new { cdCli = item.CPF }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Deletar", "DelCliente", null, new { cdCli = item.CPF }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }
</table>
<br />
<p>@Html.ActionLink("Cadastrar Cliente", "Cliente")</p>
<br />