@model LojaJogos.Models.Cliente
@{ ViewBag.Title = "Resultado de Clientes"; }

<h2>Resultado de Clientes</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Resultado do Cliente</legend>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.Nome):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Nome)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.CPF):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.CPF)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.DataNasc):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.DataNasc)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.Email):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Email)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.Celular):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Celular)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.Endereco):</b>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Endereco)
        </div>
    </fieldset>
    <br />
}